/venv/
/tmp/
/work/
*.egg
*.egg-info
/MilleGrilles.deployeur.egg-info/
/dist/
/build/
/.idea
/react_build
version.txt
**/manifest.build.js*
*.tar.gz
__pycache__
Dockerfile.x86_64
Dockerfile.aarch64
Dockerfile.armvl7
