[Unit]
Description=6tunnel pour docker/https

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/6tunnel_https.sh 8443
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
