[Unit]
Description=Mappeur d'adresses IPV6 pour Docker.
After=docker.service

[Service]
Type=simple
PIDFile=/var/run/millegrilles/dockerIPv6mapper.pid
ExecStart=/opt/millegrilles/bin/DockerIPv6mapper.py --info -d start
ExecStop=/opt/millegrilles/bin/DockerIPv6mapper.py -d stop

[Install]
WantedBy=multi-user.target
