[Unit]
Description=Mappeur d'adresses IPV6 pour Docker.
After=docker.service

[Service]
Type=simple
ExecStart=/opt/millegrilles/bin/DockerIPv6mapper.py --info
User=mg_deployeur

[Install]
WantedBy=multi-user.target
