[Unit]
Description=Acteur root system pour un noeud MilleGrilles.
After=docker.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 -m millegrilles.deployeur.MilleGrillesActeur
User=mg_deployeur
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
