[Unit]
Description=Service monitor de MilleGrilles.

[Service]
Type=simple
PIDFile=/var/run/millegrilles/monitor.pid
ExecStart=/opt/millegrilles/bin/monitor.sh start
ExecStop=/opt/millegrilles/bin/monitor.sh stop
User=mg_deployeur
Group=millegrilles

[Install]
WantedBy=multi-user.target