[Unit]
Description=Service monitor de MilleGrilles.
After=docker.service

[Service]
Type=simple
PIDFile=/var/run/millegrilles/monitor.pid
ExecStart=/opt/millegrilles/bin/monitor.sh --info start
ExecStop=/opt/millegrilles/bin/monitor.sh stop
ExecStartPre=+/opt/millegrilles/bin/prestart_monitor.sh
User=mg_deployeur
Group=millegrilles
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target