{
  "MG_IDMG": "${IDMG}",
  "MG_MQ_HOST": "${IDMG}.local",
  "MG_MQ_PORT": "5673",
  "MG_MQ_SSL": "on",
  "MG_MQ_AUTH_CERT": "on",
  "MG_MQ_KEYFILE": "/opt/millegrilles/${IDMG}/pki/keys/${IDMG}_noeud.key.pem",
  "MG_MQ_CERTFILE": "/opt/millegrilles/${IDMG}/pki/certs/${IDMG}_noeud.cert.pem",
  "MG_MQ_CA_CERTS": "/opt/millegrilles/${IDMG}/pki/certs/${IDMG}.CA.cert.pem"
}
