.boite-coinsronds {
  /* border-radius: 25px; */
  border-top: 2px solid grey;
  padding: 20px;
  margin-bottom: 1em;
}

.boite-authentification {
  min-height: 15em
}

.champ-cache {
  display: none !important;
}

.form-login > DIV {
  padding-bottom: 3em
}

.idmg {
  font-size: small;
}

.button-list button {
  margin-right: 1em;
}

.qr-code {
  padding: 2em;
}

INPUT.motdepasse {
  width: 14em;
}

.boutons-installer {
  margin-top: 2em;
}

@media screen {
  .print-only {
    display: none;
  }
}

@media print {
  .screen-only {
    display: none;
  }

  .motdepasse {
    padding-top: 1em;
    padding-bottom: 2em;
  }

  .footer {
    display: none;
  }
  .pagebreak {
    clear: both;
    page-break-after: always;
  }

  .qrcode {
    padding-bottom: 2em;
  }

  .bouton {
    display: none;
  }

  .pem {
    page-break-inside: avoid;
  }

  .cle-pem {
    page-break-before: always;
  }

  button {
    display: none;
  }

  h2 {
    /* padding-top: 4em; */
  }
}
